body {
   background-color:#0863BE;
}

h1 {
   font-family: 'David Libre', serif;
   font-size: 2.5em;
   font-weight: 700;
   color: #fef6ff;
}

h2, h3, h4 {
   font-family: 'Fire Sans', sans-serif;
   font-size: 1.5em;
   font-weight: 700;
   color: #fef6ff;
}

p {
   font-family: 'Fire Sans', sans-serif;
   color: #fef6ff;
   font-size: 1em;
   line-height: 1.6;

}

i {
   color: #fef6ff;
}


.greys {
   color: #323133;
}



.hero img{
   min-height: 100%;
   width: 100%;
 }

.card {
   width: 90%;
}

.darker {
  background-color: #22272C;
}